/*--CSS RESET--*/

*{
    border: none;
    margin: 0;
    padding:0;
}

body {
    background-color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header > h1 {
   text-align: center;
   padding: 8px;
}

article {
    width: 400px;
    border: 4px solid white;
    border-radius: 8px;
    margin: 10px 12px;
    text-align: left;

}

article > h2 {
    color: grey;
    padding: 4px 8px;

}

article:first-of-type {
    border: 4px solid grey;
}

#inprogress {
    border: 4px solid red;
}

#inprogress h2 {
    color: red;
}

#done {
    border: 4px solid greenyellow;
}

#done h2 {
    color: greenyellow;
}

article > ul{
    list-style-type: none;
}

ul li {
    padding: 6px 8px;
    text-transform: uppercase;
}
.do li:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.2);
}

.progress li:nth-child(odd) {
    background-color: rgba(248, 0, 0, 0.2);
}

.fin li:nth-child(odd) {
    background-color: rgba(187, 255, 0, 0.2);
}

